<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"
  metadata-complete="true">

<servlet>
	<servlet-name> TEST1 </servlet-name>
	<servlet-class>com.example.web.view</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name> TEST1 </servlet-name>
<url-pattern>/test1.do</url-pattern>
</servlet-mapping>

</web-app>
